#vsc-workspaces 

*.code-workspace
*.Rproj.user
*.Rhistory
*.Rproj

# zipped file

*.zip
*.7z
*.tar
*.jar

# obj files
*.o
*.out
*.exe

#vsc settings
.vscode

#linux files
*.run

#vsc Coderunner file
tempCodeRunnerFile.*

#java class
*.class
